@page
@using Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Maze Generator</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" asp-page-handler="generate" id="mazeAttributes">
        <label for="rows">Number of rows (minimum 2)</label>
        <input type="number" name="rows" min="2">

        <label for="columns">Number of columns (minimum 2)</label>
        <input type="number" name="columns" min="2">

        <label for="algorithm">Algorithm</label>
        <select asp-for="Algorithms" asp-items="Html.GetEnumSelectList<Algorithms.Algorithm>()" name="algorithm">
        </select>

        <label for="format">Format</label>
        <select asp-for="Formats" asp-items="Html.GetEnumSelectList<Models.Grid.Format>()" name="format">
        </select>

        <button type="submit">Generate</button>
    </form>

    <figure id="mazeFigure">
        <figcaption>Generated Maze</figcaption>

        @if (@Model.DisplayFormat == Grid.Format.Ascii)
        {
            <pre id="mazeAsciiArea">@Model.Maze</pre>
        }
        else if (@Model.DisplayFormat == Grid.Format.Png)
        {
            <img src="@Model.ImageSource" id="mazeImage" alt="An image of the generated maze."/>
        }

    </figure>
</div>
